
<div class="container">
  <hr class="line line-header">

  <div class="content__container">
    
    <h2 class="main-title">HomeAssistant</h2>
    <section class="link-button__container">

          <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="link-button__btn_login link-button__btn">Вход</a>

          <a routerLink="/reg" routerLinkActive="active" ariaCurrentWhenActive="page" class="link-button__btn_reg link-button__btn">Регистрация</a>
    </section>
  </div>

  <div class="line__container">
    <hr class="line line_one">
    <hr class="line line_two">
    <hr class="line line_three">
  </div>
</div>
<router-outlet></router-outlet> 