@font-face {
  font-family: 'Lack Line';
  font-weight: 400;
  font-style: normal;
  src: local('Lack Line Regular'), local('Lack-Line-Regular'), url('/assets/fonts/Lacklineregular.woff2') format('woff2');
}



@font-face {
	font-family: 'Lack Regular';
  font-weight: 400;
  font-style: normal;
	src: url('/assets/fonts/lack_regular.woff2') format('woff2')
}

@font-face {
	font-family: 'Montserrat Alternates';
	font-weight: 400;
	font-style: normal;
	src: url('/assets/fonts/Montserrat.woff2') format('woff2')
}