<div class="container">
  <hr class="line line-header" />

  <div class="content__container">
    <h2 class="main-title">HomeAssistant</h2>
    <h3 class="page-title">Вход</h3>

    <section class="form__container">
      <form action="" class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label class="label__container"
          >Email
          <input class="input" type="email" placeholder="Введить email" formControlName="email" />
        </label>

        <label class="label__container"
          >Пароль
          <input
            class="input"
            type="text"
            placeholder="Введить пароль"
            formControlName="password"
          />
        </label>

        <button class="submit-button" type="submit">Войти</button>
      </form>
    </section>
    <p>
      {{ myErorr }}
    </p>
  </div>

  <div class="line__container">
    <hr class="line line_one" />
    <hr class="line line_two" />
    <hr class="line line_three" />
  </div>
</div>
