<app-header-device [device]="devicesHeader"></app-header-device>
<div>
  <div class="room__container">
    <h2 class="room_title">Комнаты</h2>

    <div class="card__container">
      <swiper-container class="swiper-wrapper" init="false">
        @for(room of rooms; track room.id) {

        <swiper-slide>
          <app-room-card [room]="room" (newRoomId)="testOutId($event)"></app-room-card>
        </swiper-slide>
        }
      </swiper-container>
    </div>
  </div>
</div>
@if(deviceFilterData){

<div class="device__container" id="test">
  <h2 class="device_title">Устройства</h2>
  <div class="device-card__container">
    @for(devices of deviceFilterData; track devices.id){
    <app-device-card
      class="app-device-card"
      [id]="devices.room"
      [devices]="devices"
      [rooms]="rooms"
      [roomId]="roomId"
    ></app-device-card>
    }
  </div>
</div>
}
<div>
  <router-outlet></router-outlet>
</div>
<picture></picture>
